@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);
* {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
}
body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}
.headline {
    padding: 2% 0 1% 0;
    color: #FF5240;
}
.ppt {
    text-align: center;
}
.box {
    width: 600px;
    margin: 0 auto;
    padding: 20px 20px 60px 20px;   
    border: 1px solid #f2f2f2;
    color: #161418;
    position: relative;
}
.quote-dialogue {
    font-size: 1.5em;
}
.role {
    font-size: 1.2em;
}
.buttons {
    padding: 3% 0 0 0;  
}
.button {
    color: #fff;
    background-color: #FF5240;
    padding: 8px 10px;
    cursor: pointer;
    border: none;
    border-radius: 2px; 
}
#tumblr, #twitter {
    font-size: 1.2em;
    width: 38px;
    height: 38px;
    float: left;
    margin-right: 10px;
}
#new-dialogue{
    float: right;
    height: 38px;
}
.button:hover {
    opacity: 0.9;
    color: #fff;
}
.pic img {
    width: 600px;
}
.footer {
    padding: 2%;
}
