/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
body{
	padding:0;
	margin:0;
	font-family: 'Open Sans', sans-serif;
	background:#fff;
}
body a{
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
    text-decoration: none;
}
input[type="button"],input[type="submit"]{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
	margin:0;			   
}	
p{
	margin:0;
}
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}
/*-----start-Front----*/

/* Entry */
.entry {
    color: #161418;
    padding: 0 1em;
}
.entry a {
    display: inline-block;
    padding: 8px 8px;
}
.entry a:hover {
    color: #1383BC;
    text-decoration: none;
}
/* END Entry */

/* Name */
.name {
    height: 100px;
    background-color: #303D4A;
    padding: 0 12em;
}
.search {
	position: relative;
	padding: 4px 10px;
	float: right;
	border: 1px solid #dddddd;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	margin: 26px 20px 0 0;
}
.search input[type="text"] {
	outline: none;
	color: #b3b3b3;
	background: none;
	font-size: 16px;
	border: none;
	width: 84.33%;
}
.search input[type="submit"] {
    background: url('../images/icon-search.png') no-repeat 0px 0px;
    border: none;
    cursor: pointer;
    position: absolute;
    outline: none;
    top: 5px;
    right: 7px;
    width: 35px;
    height: 35px;
}
/* END Name */

/* Wsmenu */
.header_down {
    padding-left: 14em;
    height: 47px;
    border-bottom: 1px solid #f1f1f1;
}
.wsmenu-list {
    text-align: left;
    margin: 0 auto 0 auto;
    width: 100%;
    display: table;
    padding: 0px;
}
.wsmenu-list > li {
    text-align: center;
    display: inline-block;
    float: left;
}
.wsmenu-list > li > a{
    color: #303D4A;
    font-size: 16px;
    padding: 12px 25px;
}
.wsmenu-list > li > a:hover {
    background-color: #303D4A;
    color: #FFF;
}
.wsmenu-list > .active > a{
    background-color: #303D4A;
    color: #FFF;
}
.animated-arrow {
    position: absolute;
    top: -53px;
}
/* END Wsmenu */

/* Footer */
.footer {
    background-color: #303D4A;
    padding: 2em 2em;   
    color: #fff;
}
.footer-list {
    text-align: center;
    margin-bottom: 15px; 
    font-size: 14px;
}
.footer-list span a {
    color: #fff;
    display: inline-block;
    padding: 0 5px;
}
.social span {
    padding: 0 5px;
}
.social span a{
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
}
#wechat a:hover {
    background-color: #15C288;
    border: 1px solid #1383BC;
}
#weibo a:hover {
    background-color: #D63230;
    border: 1px solid #1383BC;
}
#qq a:hover {
    background-color: #1383BC;
    border: 1px solid #1383BC;
}
.rights {
    font-size: 14px;
    text-align: center;
    opacity: 0.8;
}
/* END Footer */

/* video list */
.portfolio-wrapper .portfolio-items{
	clear: both;
}
.portfolio-wrapper .portfolio-content{
	position: relative;
	margin-bottom: 20px;
    height: 165px;
    width: 100%;
    overflow: hidden;
    background: #fff url("../images/bgimg.jpg") no-repeat;
}
#first-img {
    height: 350px;
    background: #f1f1f1;
}
.portfolio-wrapper .portfolio-overlay{
	position: absolute;
	background-color: rgba(0, 0, 0, 0.7);
	color: #fff;
    left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 30px;
	opacity: 0;
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
	-moz-transform: scale(0.5);
	-webkit-transform: scale(0.5);
	-o-transform: scale(0.5);
	-ms-transform: scale(0.5);
	transform: scale(0.5);
}
.portfolio-wrapper .portfolio-content:hover .portfolio-overlay{
	opacity: 1;
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}
.portfolio-overlay i {
    font-size: 35px;
}
.portfolio-wrapper .portfolio-overlay{
	color: #fff;
	
}
.portfolio-wrapper .portfolio-overlay a:hover{
	color: #fff;
}

/* Plate */
.wrap {
    width: 80%;
    margin: 0 auto;
}
.plate {
    padding: 5% 0 0 0;
    clear: both;
}
.headline {
    border-left: 3px solid #1383BC;
    height: 35px;
    margin-bottom: 50px;
    line-height: 22px;    
}
.headline a{
    display: inline-block;
    font-size: 28px;
    color: #303D4A;
    padding: 5px 14px;
}
.headline a:hover {
    text-decoration: none;
    color: #303D4A;
}
/* END Plate*/

/*.vmcarousel-normal a{
    height: 320px;
    width: 100%;
    display: inline-block;
}*/
/* card */
.portfolio-wrapper ul.filter{
	list-style: none;
	padding: 0;
	margin-bottom: 30px;
	overflow: hidden;
}

.portfolio-wrapper ul.filter li{
	float: left;
	text-transform: uppercase;
	margin-right: 20px;
    font-size: 16px;   
    padding: 10px 12px;
	color: #161418; 
    margin-bottom: 10px; 
}

.portfolio-wrapper ul.filter li:hover,
.portfolio-wrapper ul.filter li.active{
    cursor: pointer;
	color: #fff;
    background-color: #1383BC;
    border-radius: 2px;
}
.cards {
    -webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
    margin-bottom: 30px;
    border: 1px solid #f1f1f1;
}
.cards:hover {
    box-shadow: 0px 0px 18px #ccc;
}
.cards-image{
	position: relative;
    height: 160px;
    width: 100%;
    overflow: hidden;
}  
.cards-image img {
    
}
.cards-info{
	background-color: #fff;
	padding: 15px;
    color: #161418;
}
.cards-info h4{
	font-size: 16px;
    font-weight: 600;
    margin: 0 0 10px 0;
}
.cards-info span{
	text-transform: uppercase;
}
.cards-info .view {
    margin-top: 20px;
    text-align: right
}
.detail {
    margin-top: 30px;
    opacity: 0.8;
    font-size: 12px;
}
/* Box-item */
.box-item{
	margin-bottom: 20px;
}
.box-image{
	position: relative;   
    display: block;
    height: 313px;
    width: 100%;
    overflow: hidden;
}
.box-item .box-content {
    display: block;
    height: 313px;
    color: #fff;
    position: relative;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -webkit-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
}
.box-item .box-content .content {
    height: 45px;
    padding: 0;
    text-align: center;
}
.box-content .content {
    width: 100%;
    height: 45px;
    z-index: 2;
    text-align: center;
    padding: 10px 10px 0 10px;
    background-color: rgba(0,0,0,.5);
    bottom: 0;
    position: relative;
    margin-top: -45px;
}
.box-content .content:hover {
    background-color: rgba(0,0,0,.7);
}
p.works {
    margin: 0;
    font-size: 16px;
    line-height: 45px;
    color: #fff;
}
.box-info{
	background-color: #f5f5f5;
	padding: 15px;
}
.box-info h4{
	margin-top: 0;
	margin-bottom: 6px;
}
.box-info span{
	text-transform: uppercase;
}
.box-item .box-social{
	position: absolute;
	width: 100%;
	height: 100%;
    overflow: hidden;
	background-color: rgba(0, 0, 0, 0.6);
	left: 0;
	top: 0;
	text-align: center;
	opacity: 0;
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
	-moz-transform: scale(0.5);
	-webkit-transform: scale(0.5);
	-o-transform: scale(0.5);
	-ms-transform: scale(0.5);
	transform: scale(0.5);
}

.box-item:hover .box-social{
	opacity: 1;
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.box-item .box-social a{
	position: relative;
	font-size: 16px;
	color: #fff;
	top: 47%;
}

.box-item:hover .box-social a{
	margin: 6px;
}

/* END Box-item*/

/* Section */
.section {
    padding: 70px 0;   
    margin: 0 auto; 
}
.section1 {
    position: relative;
    height: 400px;
    -webkit-background-size: 100%;
    text-align: center;
    background-size: 100%;
}
.section1:after{
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background-color: #1383BC;
    opacity: 0.6;
    z-index: 2;
    width: 100%;
    height: 100%;
}
.section-icon {
    color: #1383BC;
    text-align: center;
    font-size: 60px;
}
.section-wrap {
    width: 75%;
    margin: 0 auto;
}
.s-icon {
    z-index: 200;
    position: relative;
    text-align: center;
    background-color: #fff;
    width: 145px;
    height: 145px;
    border-radius: 50%;
    line-height: 145px;
    margin: 0 auto;   
}
.s-icon:hover {
    background-color: #1383BC;
    color: #fff;
}
.section-wrap p{
    color: #fff;
    font-size: 18px;
    z-index: 200;
    position: relative;
    margin-bottom: 60px;
    margin-top: 20px;
}
.section-btn {
    color: #fff;
    font-size: 18px;
    z-index: 200;
    position: relative;
    border: 1px solid #fff;
    width: 100px;
    height: 50px;
    margin: 0 auto;
    line-height: 50px;
    border-radius: 5px;
}
.section-btn:hover {
    background-color: #1383BC;
    color: #fff;
}
/* END Section */

/* Section2 */
.section2{
	margin-bottom: 40px;
}
.section2-content {
    display: block;
    height: 250px;
    text-align: center;
    width: 100%;
    overflow: hidden;
}
.section2-content img {
    height: 100%;
    width: 100%;
}
.section2-content p {
    font-size: 16px;
    margin: 10px 0;
    color: #161418; 
}
.section2-content p:hover {
    text-decoration: underline;
}
/* END Section2 */

/* Section3 */
.section3{
	margin-bottom: 20px;
}
.section3-image{
	position: relative;
    display: block;
    width: 100%;
    overflow: hidden;
    height: 165px;
}
.section3 .section3-content {
    display: block;
    color: #fff;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -webkit-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
}
.section3 .section3-content .s3-content {
    height: 45px;
    padding: 0;
    text-align: center;
}
.section3-content .s3-content {
    width: 100%;
    height: 45px;
    z-index: 2;
    text-align: center;
    padding: 10px 10px 0 10px;
    background-color: rgba(0,0,0,.5);
    position: absolute !important;
    bottom: 0;
}
p.section3-works {
    margin: 0;
    font-size: 16px;
    line-height: 45px;
}
.section3-info{
	background-color: #f5f5f5;
	padding: 15px;
}
.section3-info h4{
	margin-top: 0;
	margin-bottom: 6px;
}
.section3-info span{
	text-transform: uppercase;
}
.section3 .section3-social{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	left: 0;
	top: 0;
	text-align: center;
	opacity: 0;
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
	-moz-transform: scale(0.5);
	-webkit-transform: scale(0.5);
	-o-transform: scale(0.5);
	-ms-transform: scale(0.5);
	transform: scale(0.5);
}
.section3:hover .section3-social{
	opacity: 1;
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}
.section3-social i {
    font-size: 16px;
    position: relative;
	color: #fff;
	top: 47%;
}
/* END Section3 */

/* To Top */
.gototop.active {
    opacity: 1;
    visibility: visible;
}
.gototop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.gototop a {
    width: 50px;
    height: 50px;
    display: table;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    text-decoration: none;
    border-radius: 4px;
}
.gototop a:hover {  
    color: #fff;
    background: rgba(0, 0, 0, 0.8);
}
.gototop a i {
    height: 50px;
    display: table-cell;
    vertical-align: middle;
}
/* End */

/* Video View */
.video-view {
    margin-top: 1%;
    margin-bottom: 4%;
}
.video-part {
    border: 1px solid #f1f1f1; 
    margin-bottom: 30px;
}
.video-part video{
    width: 100%; 
    height: 480px;
}
.relate-video {
    border: 1px solid #f1f1f1;
    padding: 10px 20px;
    margin-bottom: 30px;
}
.video-headline {
    border-left: 3px solid #337AB7;
    color: #161418;
    height: 20px;
    padding-left: 10px;
    font-size: 14px;
    margin-bottom: 20px;
}
.video-content {
    margin-bottom: 35px;
}
.video-content img {
    margin-bottom: 20px;
}
.content-left{
    float:left;
    width:160px;
    margin-right: 12px;
}
.video-detals {
    opacity: 0.8;
    font-size: 12px;
}
.video-info {
    margin-left: 20px;
    margin-right: 20px;
}
.info-name {
    color: #555555;
    font-size: 20px;
}
.video-share {
    padding: 15px 20px;
    font-size: 15px;   
}
.video-share span {
    padding-right: 4px;
    color: #8E8E8E;
}
.video-share span a{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
    color: #fff;
    background-color: #9A9A9A;
    display: inline-block;
    border: 1px solid #9A9A9A;
}
#wechat a:hover {
    background-color: #15C288;
    border: 1px solid #15C288;
}
#weibo a:hover {
    background-color: #D63230;
    border: 1px solid #D63230;
}
#qq a:hover {
    background-color: #1383BC;
    border: 1px solid #1383BC;
}
.behave {
    margin-right: 15px;      
}
.behave i {
    padding: 0 2px;
}
#star {
    margin-left: 40px;
}
#star i:hover{
    color: #EC971F;  
}
#download i:hover{
    color: #1383BC;  
}
.zan {
    float: right;
}
#thumbs-up {
    margin-right: 15px;
}
#thumbs-up i:hover{
    color: #555;  
}
#thumbs-down i:hover{
    color: #555;  
}
.video-comment {
    font-size: 18px;
    color: #555555;
}
.all-comment {
    font-size: 18px;
    color: #555555;
    margin-top: 65px;
}
.all-comment span {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    margin: 0 3px;
    color: #909090;

}
.media-grids {
    margin-top: 2em;
}
.media {
    margin: 3em 0;
}
.media h5 {
    font-size: 1.2em;
    font-weight: 400;
    margin: 0 0 20px 0;
    color: #2d2d2d;
}
.media-left, .media-right, .media-body {
    display: table-cell;
    vertical-align: top;
}
.media-left, .media > .pull-left {
    padding-right: 10px;
}
.media-body p {
    font-size: 13px;
    color: #757575;
    margin: 0 0 .5em 0;
    line-height: 1.5em;
}
.media-body span {
    color: #C7C7C7;
    font-size: 13px;
}
.pages {
    color: #ffd373;
    margin: 0 0 4% 0;
}
.pages a, .pages .cpb {
    text-decoration: none;
    padding: 4px 8px;
    border: 1px solid #ddd;
    background: #fff;
    margin: 0 4px;
    margin-right: 4px;
    font-size: 13px;
    color: #333;
}
.pages .cpb {
    font-weight: bold;
    color: #fff;
    background: #FF5240;
    border: 1px solid #FF5240;
}
.video-info textarea {
    resize: none;
    min-height: 100px;
    margin: 1em 0;
    width: 100%;
}
.video-rank span i{
    color: #337AB7;
    padding-right: 8px;
}
.video-rank div {
    margin-bottom: 6px;
}
.video-rank span {
    font-size: 15px;
    line-height: 1.75 !important;
}
.v-date {
    color: #9A9A9A;
    float: right; 
}
/* End */

/* Other View */
.pic {
    margin: 0 20px;  
}
.pic img{
    width: 100%;
    height: 400px;
}
.pic-part {
    border: 1px solid #f1f1f1; 
    margin-bottom: 30px;
}
.pic-info {
    margin: 0 20px;
}
.downbtn {
    margin-left: 20px;
    margin-bottom: 20px;
}
.pic-info p {
    color: #666666;
    line-height: 1.75 !important;
}
.pic-author {
    color: #9A9A9A;
    font-size: 12px;
    float: right;
}
/* END */

/* Login */
.fh5co-form {
  padding: 30px 30px 10px 30px;
  margin: 4em 0;
  -webkit-box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
  -o-box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
  box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
  background: #ffffff;
}
.login-info {
    width: 100%;
}
@media screen and (max-width: 768px) {
  .fh5co-form {
    padding: 15px;
  }
}
.fh5co-form h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20px;
  margin: 0 0 30px 0;
  color: #000000;
}
.fh5co-form .form-group {
  margin-bottom: 30px;
}
.fh5co-form .form-group p {
  font-size: 14px;
  color: #9f9f9f;
  font-weight: 300;
}
.fh5co-form .form-group p a {
  color: #000000;
}
.fh5co-form label {
  font-weight: 300;
  font-size: 14px;
  font-weight: 300;
}
.fh5co-form .form-control {
  font-size: 16px;
  font-weight: 300;
  height: 50px;
  padding-left: 0;
  padding-right: 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.fh5co-form .form-control::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}
.fh5co-form .form-control::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}
.fh5co-form .form-control:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}
.fh5co-form .form-control:-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}
.fh5co-form .form-control:focus, .fh5co-form .form-control:active {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
.login-page {
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 1.5;
  font-size: 16px;
  color: #848484;
}
/* END Login */

/* Work-list */
.list-head {
    padding: 0 0 15px 0;
}
.list-meta .column-path {
    line-height: 24px;
    color: #838383;
}
.list-meta .column-path a {
    color: #838383;
    text-decoration: none;
}
.list-meta .column-path a:hover {
    color: #2F8AB7;
}
.works-list {
    margin-top: 2%;
    margin-bottom: 4%;
}
.wrap1 {
    width: 85%;
    margin: 0 auto;
}
.workslist {
    -webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
    margin-bottom: 30px;
    border: 1px solid #E8E8E8;
}
.workslist:hover {
    box-shadow: 0px 0px 18px #ccc;
}
.works-image{
	position: relative;
    height: 165px;
    width: 100%;
    overflow: hidden;
}  
.works-info{
	padding: 15px;
    color: #737373;
}
.works-info h3 {
	width: 100%;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: normal;
    text-overflow: ellipsis;
    word-break: break-all;
    font-size: 20px;
    margin: 0 0 10px 0; 
}
.works-info h3 a {
     color: #161418;
}
.works-info h3 a:hover{
    color: #626262;
    text-decoration: none;
}
.works-info span{
	text-transform: uppercase;
}
.works-info .view {
    margin-top: 20px;
    text-align: right
}
.works-detail {
    font-size: 12px;
    color: #A3A3A3;
    float: right;
}
/* END */

/* Article-View */
.article-view {
    margin-top: 2%;
    margin-bottom: 4%;
}
.article-title h3{
    font-size: 24px;
    text-align: center;
    color: #161418;
}
.article-title p {
    color: #3C3D3D;
    line-height: 1.75!important;
    text-indent: 2em;
}
.article-detail {
    text-align: center;
    margin-top: 25px;
    color: #999999;
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 1px dashed #CCCCCC;
}
.article-detail span{
    margin-right: 8px;   
}
.article-title {
    margin-bottom: 80px;
    margin-top: 20px;
}
/* END */
/*-- responsive-design starts-here --*/

